.image-gallery-slide img{

    min-height: 450px;
    max-height: 451px;
}

.loadMoreBtn{
    border: none;
    text-decoration: underline;
    color: #00B1A3;
}

#more {
    text-decoration: none;
    color: #00B1A3;
}

#more:hover{
    text-decoration: none;
    color: #00B1A3;
}

#full{
    margin-bottom: 50px;
}

.white{
    color: white;
}
.borderGreen {
    border: 1px solid #00B1A3;
}
.backgroundGreen {
    background-color: #00B1A3;
}
.green {
    color: #00B1A3;
}
.red{
    color: #00B1A3;
}