
img {

    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    object-fit: contain;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.Post {
    width: 250px;
    /* height: 500px; */
    padding: 16px;
    text-align: center;
    /* border: 1px solid #eee; */
    /* box-shadow: 0 2px 3px #ccc; */
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

/* .Post:hover,
.Post:active {
    background-color: #C0DDF5;
} */

.caption{
    /* box-shadow: 0 2px 3px #cccccc; */
    max-width: 250px;
    min-width: 250px;
    min-height: 100px;
    max-height: 100px;
    padding-top: 15px;
    padding-bottom: 10px;
    /* border: 2px solid red; */
}

.imageThumb{
    max-width: 250px;
    min-width: 250px;

    min-height: 250px;
    max-height: 250px;

}
